
<div class="padding" ng-init="std_ctrl.OstadsDetails();">
<div class="box">
    <div class="box-header">
      <h3>نمایش اطلاعات اساتید</h3>
      
    </div>
    <!-- <div class="box-body">
      <input type="text" id="search_input" value="1" ng-model="search_input" class="form-control input-sm w-auto inline m-r"/>
      <a ng-click="std_ctrl.search_data(search_input)" class="btn btn-outline b-success text-success" type="button">جستجو</a>
    </div> -->
    <!-- <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th class="mycenteralign" data-toggle="true">
                  نام
              </th>
              <th class="mycenteralign">
                  نام خانوادگی
              </th>
              <th class="mycenteralign" >
                  کد پرسنلی
              </th>
              <th class="mycenteralign" >
                  وضعیت
              </th>
              <th></th>
              
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ostads in std_ctrl.ostadss_list">
              <td class="mycenteralign">{{ ostads.oname }}</td>
              <td class="mycenteralign"><a href>{{ ostads.ofamily }}</a></td>
              <td class="mycenteralign">{{ ostads.opercode }}</td>
              <td class="mycenteralign" data-value="78025368997">{{ ostads.status }}</td>
              
                
                <td><button type="button" data-toggle="modal" class="btn btn-outline b-danger text-danger" ng-click="std_ctrl.delete_student_info(ostads.oid)">حذف</button>

                   
                <button type="button" data-toggle="modal" data-target="#edit_student_info_modal" class="btn btn-outline b-info text-info" ng-click="std_ctrl.edit_student_info(ostads.oid)">ویرایش</button>

                <button type="button"  data-toggle="modal"  ui-toggle-class="fade-down" ui-target="#animate" data-target="#view_student_info_modal" class="btn btn-outline b-success text-success" ng-click="std_ctrl.get_student_info(ostads.oid)">مشاهده</button></td>
          </tr>
          
        </tbody>


        <tfoot class="hide-if-no-paging text-center footable-visible">
          <pagination ng-model="currentPage" total-items="total_row" max-size="maxSize" boundary-links="true">
        </pagination>
        
      
        </tfoot>
      </table>
    </div> -->

<div class="box-body">
  
    <table  st-table="display_records"  st-safe-src="std_ctrl.myostads_details" class="table table-striped">
        <thead>
          <tr>
          <th class="mycenteralign" data-toggle="true">
                  نام
              </th>
              <th class="mycenteralign">
                  نام خانوادگی
              </th>
              <th class="mycenteralign" >
                  کد پرسنلی
              </th>
             
              <th></th>
          </tr>
           <tr>
                          <th colspan="5">
                            <input st-search placeholder="جستجوی استاد" class="input-sm form-control" type="search"/>
                          </th>
                        </tr>
        </thead>
        <tbody>
          <tr st-select-row="row"  ng-repeat="row in display_records">
           <td class="mycenteralign">{{ row.oname }}</td>
              <td class="mycenteralign"><a href>{{ row.ofamily }}</a></td>
              <td class="mycenteralign">{{ row.opercode }}</td>
              
                
                <td><button type="button" data-toggle="modal" class="btn btn-outline b-danger text-danger" ng-click="std_ctrl.delete_student_info(row.oid)">حذف</button>

                   
                <button type="button" data-toggle="modal" data-target="#edit_student_info_modal" class="btn btn-outline b-info text-info" ng-click="std_ctrl.edit_student_info(row.oid)">ویرایش</button>

                <button type="button"  data-toggle="modal"  ui-toggle-class="fade-down" ui-target="#animate" data-target="#view_student_info_modal" class="btn btn-outline b-success text-success" ng-click="std_ctrl.get_student_info(row.oid)">مشاهده</button></td>


          </tr>
          
        </tbody>
        <tfoot>
              <tr>
                   <td colspan="5" class="text-center">
                     <div st-pagination="" st-items-by-page="itemsByPage"></div>
                  </td>
              </tr>
       </tfoot>
      </table>
</div>
  </div>

        
<!-- .modal show-->
<div  id="view_student_info_modal" role="dialog" class="modal fade animate" data-backdrop="true">
  <div class="modal-dialog" id="animate">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">مشاهده اطلاعات استاد {{ std_ctrl.view_student_info.oname }}&nbsp;{{ std_ctrl.view_student_info.ofamily }}</h5>
      </div>
      <div class="modal-body text-center p-lg">
        <p>
         <div class="box">
          
          <ul class="list inset">
              <li class="list-item">
                <a herf class="list-left">
                 
                </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">شماره پرسنلی</a>
                    
                  </div>
                  <div><a href>{{ std_ctrl.view_student_info.opercode }}</a></div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  
                </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">نام پدر</a>
                    
                  </div>
                  <div><a href>{{ std_ctrl.view_student_info.ofather }}</a></div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  
                </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">تاریخ تولد</a>
                    
                  </div>
                  <div><a href>{{ std_ctrl.view_student_info.obrdate }}</a></div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">نام کاربری</a>
                    
                  </div>
                  <div><a href>{{ std_ctrl.view_student_info.ouser }}</a></div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                                  </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">پسورد</a>
                    
                  </div>
                  <div><a href>{{ std_ctrl.view_student_info.opass }}</a></div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
          </ul>
        </div>
          
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">بستن</button>
        <!-- <button type="button" class="btn danger p-x-md" data-dismiss="modal">Yes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
<!-- / .modal -->
<!-- .modal edit-->
<div id="edit_student_info_modal" role="dialog" class="modal fade animate" data-backdrop="true">
  <div class="modal-dialog" id="animate">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ویرایش اطلاعات</h5>
      </div>
      <div class="modal-body text-center p-lg">
        <p>
          <p>
        <form name="oadd" method="post" id="edit_student_info_frm">
          <input type="text" ng-model="std_ctrl.student_info.oid" class="form-control" hidden value="{{std_ctrl.student_info.oid}}">
         <div class="box">
          
          <ul class="list inset">
            <li class="list-item">
                <a herf class="list-left">
                 
                </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">نام</a>
                    
                  </div>
                  <div class="col-sm-9"><input type="text" ng-model="std_ctrl.student_info.oname" class="form-control" required="" value="{{std_ctrl.student_info.oname}}"> </div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                 
                </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">نام خانوادگی</a>
                    
                  </div>
                  <div class="col-sm-9"><input type="text" ng-model="std_ctrl.student_info.ofamily" class="form-control" required="" value="{{std_ctrl.student_info.ofamily}}"> </div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                 
                </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">شماره پرسنلی</a>
                    
                  </div>
                  <div class="col-sm-9"><input type="text" ng-model="std_ctrl.student_info.opercode" class="form-control" required="" value="{{std_ctrl.student_info.opercode}}"> </div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  
                </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">نام پدر</a>
                    
                  </div>
                  <div class="col-sm-9"><input type="text" ng-model="std_ctrl.student_info.ofather" class="form-control" required="" value="{{std_ctrl.student_info.ofather}}"> </div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  
                </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">تاریخ تولد</a>
                    
                  </div>
                  <div class="col-sm-9"><input type="text" ng-model="std_ctrl.student_info.obrdate" class="form-control" required="" value="{{std_ctrl.student_info.obrdate}}"> </div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">نام کاربری</a>
                    
                  </div>
                  <div class="col-sm-9"><input ng-model="std_ctrl.student_info.ouser" type="text" class="form-control" required="" value="{{std_ctrl.student_info.ouser}}"> </div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                                  </a>
                <div class="list-body">
                  <div class="m-y-sm pull-right">
                    <a href class="btn btn-xs white">پسورد</a>
                    
                  </div>
                  <div class="col-sm-9"><input ng-model="std_ctrl.student_info.opass" type="text" class="form-control" required="" value="{{std_ctrl.student_info.opass}}"> </div>
                  <div class="text-sm">
                    
                  </div>
                </div>
              </li>
          </ul>
        </div>
        </form>  
        </p>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark-white p-x-md"  data-dismiss="modal">بستن</button>
        <button type="button" class="btn btn-outline b-info text-info" ng-click="std_ctrl.upOstad()" >ویرایش</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
<!-- / .modal -->
</div>
<br>
  