
<div class="row-col b-b">
    <div class="col-md">
        <div class="padding">
            <div class="margin">
                <h5 class="m-b-0 _300">
                
                    
                  </h5>
            </div>
            <div class="row-col box">
              <div class="col-sm-6 grey lt">
                    <div class="box-header">
                      <h3>درس</h3>
                      
                    </div>
                    <div class="box-body">
                        <div class="list box">
                            <div class="list-item">
                              <div class="list-left">
                                <img src="assets/myimg/books.png" class="w-40 circle">
                              </div>
                              <div class="list-body">
                                <a href="./ostad/darsShow" class="_500">نمایش دروس</a>
                                
                              </div>
                            </div>
                            <div class="list-item">
                              <div class="list-left">
                                <img src="assets/myimg/add.png" class="w-40 circle">
                              </div>
                              <div class="list-body">
                                <a href="./ostad/darsAdd" class="_500">اضافه کردن درس</a>
                               
                              </div>
                            </div>
                            <div class="list-item">
                              <div class="list-left">
                                <img src="assets/myimg/book.png" class="w-40 circle">
                              </div>
                              <div class="list-body">
                                <a href="./ostad/dars" class="_500">درس فعلی</a>
                               
                              </div>
                            </div>
                            <div class="list-item">
                              <div class="list-left">
                                <img src="assets/myimg/edit.png" class="w-40 circle">
                              </div>
                              <div class="list-body">
                                <a href="./ostad/editdars" class="_500">ویرایش درس</a>
                               
                              </div>
                            </div>
                            <div class="list-item">
                              <div class="list-left">
                                <img src="assets/myimg/chat.png" class="w-40 circle">
                              </div>
                              <div class="list-body">
                                <a href="./ostad/chats" class="_500">ارتباط با دانشجویان</a>
                               
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-sm-6 grey lt">
                    <div class="box-header">
                        <h3>تنظیمات</h3>
                    </div>
                    <div class="box-body">
                        <div class="list box">
                            <div class="list-item">
                              <div class="list-left">
                                <img src="assets/myimg/ostad.png" class="w-40 circle">
                              </div>
                              <div class="list-body">
                                <a href="./ostad/profile" class="_500">پروفایل</a>
                                
                              </div>
                            </div>
                            <div class="list-item">
                              <div class="list-left">
                                <img src="assets/myimg/sett.png" class="w-40 circle">
                              </div>
                              <div class="list-body">
                                <a href="./ostad/setting" class="_500">تنظیمات پنل</a>
                               
                              </div>
                            </div>
                            
                          </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
</div>





    </div>
  </div>
